body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.footer {
    background-color: #1A3750;
    color: #FFFDEC;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    box-sizing: border-box;
}

.column {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 5%;
}

.title {
    color: #2D9596;
    margin-top: 0;
    margin-bottom: 0;
}

.list a {
    color: #9AD0C2;
    text-decoration: none;
}
.list {
    color: #9AD0C2;
    list-style-type: none;
    margin-top: 0;
    padding-left: 0;
}

.list a:hover {
    color: #FFFDEC;
    text-decoration: none;
    transition: filter 0.3s ease;
    box-shadow: 0 0 5px rgba(5, 1, 42, 0.3);
    filter: saturate(150%);
}




.socials {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.socials a {
    color: #FFFDEC;
    text-decoration: none; 
    transition: filter 0.3s ease; 
}

.socials a:hover {
    filter: brightness(1.2); 
}

.socials-text {
    color: #FFFDEC;
}

.icons img {
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.icons img:hover {
    transform: scale(1.2);
}

.copyright {
    color: #FFFDEC;
    margin-top: auto;
    margin-right: 1%;
}