.bodyhome{
    display: flex;
    flex-direction: column;
}
.search{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
}
.textsearch{
    font-family: 'Montserrat', sans-serif;
    color: #1A3750;
    margin-left: 25%;
}
.inputhome{
    background-color: rgba(241, 250, 218, 1);
    height: 60px;
    border-radius: 50px;
    border: none;
    position: relative;
    padding-left: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.inputhome::placeholder {
    font-family: 'Montserrat', sans-serif;
    color: rgba(154, 208, 194, 1) ;
    font-size: 20px;
}
.fasearch{
    position: absolute;
    margin-top: 155px;
    margin-left: 10px;
    font-size: 30px;
   
}
