.bodyhome{
    display: flex;
    flex-direction: column;
}

.search{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
}

.textsearch{
    font-family: 'Montserrat', sans-serif;
    color: #1A3750;
    margin-left: 25%;
}

.inputhome{
    background-color: rgba(241, 250, 218, 1);
    height: 60px;
    border-radius: 50px;
    border: none;
    position: relative;
    padding-left: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.inputhome::placeholder {
    font-family: 'Montserrat', sans-serif;
    color: rgba(154, 208, 194, 1) ;
    font-size: 20px;
}

.fasearch{
    position: absolute;
    margin-top: 155px;
    margin-left: 10px;
    font-size: 30px;
   
}

.iconshome{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
}

.serviceicons{
    width: 90px;
    height: 90px;
}

.servicedescription{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

.textcubedescription{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;

}

.ability {
    display: flex;
    flex-direction: column;
}

.abilitysection, .opportunitysection{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.cubedescription{
    background-color: rgba(235, 245, 251, 1);
    width: 463px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.cubedescription2{
    background-color: rgba(246, 251, 235, 1);
    width: 463px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.tittlecube{
    display: flex;
    flex-direction: row;
}

.tittlespan{
    margin-left: 5px;
    font-weight: bold;
}